* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Baloo Bhaina 2', cursive;
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.wrapper-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

/* header start  */
header {
    max-height: 200px;
    background-color: #f3dbcd;
}

.logo {
    display: flex;
}

.logo img {
    max-height: 100px;
}

.logo h1 {
    font-size: 35px;
    margin-top: 20px;
    font-family: 'Baloo Bhaina 2', cursive;
    text-transform: capitalize;
    font-weight: bold;
    color: black;

}

.logo h1 span {
    color: #FD5532;
}

.navbar {
    margin-left: 700px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    padding: 20px 40px;
    list-style: none;
    margin-top: 12px;

}

.navbar ul li a {
    text-decoration: none;
    color: #FD5532;
    font-family: 'Baloo Bhaina 2', cursive;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 22px;

}