* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Baloo Bhaina 2', cursive;
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.wrapper-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

/* header start  */
header {
    max-height: 200px;
    background-color: #f3dbcd;
}

.logo {
    display: flex;
}

.logo img {
    max-height: 100px;
}

.logo h1 {
    font-size: 35px;
    margin-top: 20px;
    font-family: 'Baloo Bhaina 2', cursive;
    text-transform: capitalize;
    font-weight: bold;
    color: black;

}

.logo h1 span {
    color: #FD5532;
}

.navbar {
    margin-left: 100px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    padding: 20px 40px;
    list-style: none;
    margin-top: 12px;

}

.navbar ul li a {
    text-decoration: none;
    color: #FD5532;
    font-family: 'Baloo Bhaina 2', cursive;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 22px;

}

/* intro-banner start */
section {
    padding: 40px 0;
    background-color: #FFFFFF;
}

.similar-width {
    width: 50%;
    margin-right: 30px;
}

.similar-description {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;

}

.similar-description h1 {
    font-size: 60px;
    font-weight: bold;
    color: #575757;
    margin: 20px 0;
}

.similar-description span {
    color: #FB934A;
}

.similar-description p {
    font-size: 20px;
    font-weight: 500;
    color: #828282;
    padding: 25px 0;
    margin: 50px 0;
}

.similar-description a {
    margin-top: 50px;
}


.similar-btn {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    background-image: linear-gradient(to right, #FB8E48, #FD5031);
    padding: 20px 30px;
    border-radius: 30px;


}


.similar-image img {
    width: 100%;
    height: 800px;
}

/* about-me-banner start */

.about-me-banner {
    background-image: url(../images/banner/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#about-me-text {
    font-family: 'Manrope', sans-serif;
    color: #18191F;
    padding-bottom: 50px;
    line-height: 40px
}

/* my-recipes-section-started */
.recipes-desciption {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 30px 0px 50px 0px;
}

.recipes-desciption h1 {
    margin: 20px 0;
    font-size: 40px;
    font-weight: bolder;
    color: #676767;
}

.recipes-desciption p {
    color: #252525;
    line-height: 30px;
    margin: 0 30px;
}

.single-recipe {
    width: 30%;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 3px 16px 0px #575757;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 30px;
}

.single-recipe img {
    width: 100%;
    height: 300px;
    border-radius: 25px;

}

.single-recipe h1 {
    font-size: 30px;
    font-weight: 900;
    margin: 25px 0;



}

.single-recipe p {
    line-height: 30px;

}

/* social-media-section */
.social-media {
    width: 87%;
    box-shadow: 5px 3px 16px 0px #575757;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding: 60px 0;
    margin-bottom: 30px;

}

.single-social-media {
    width: 30%;
    text-align: center;
}

.single-social-media h1 {
    font-size: 48px;
}

.single-social-media p {
    margin-left: 20px;
}

/* query secttion */
form {
    padding-left: 100px;
}

.queries {
    background-image: linear-gradient(#C8FDFA, #FAD1B9);
    /* background-image: url(../images/banner/bg7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */

    font-family: 'Baloo Bhaina 2', cursive;
}

.queries h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 50px;
    font-weight: 900;
    color: #575757;
}



label {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0px;
}

input {
    width: 70%;
    height: 20px;
    border-radius: 2px;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-left: 5px solid;
    border-image: linear-gradient(#C8FDFA, #FAD1B9, #FD5935);
    border-image-slice: 1;

}

textarea {
    width: 70%;
    padding: 10px;
    border-radius: 2px;
    height: 150px;
    border: none;
    border-left: 5px solid;
    border-image: linear-gradient(#C8FDFA, #FAD1B9, #FD5935);
    border-image-slice: 1;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 15px;
}

button {
    border: none;
    margin: 50px 0px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #f87930, #FD5935);

}

#query-img {
    width: 70%;
    margin: 30px 0px 40px 180px;
    height: 430px; 
    border-radius: 5px;
    border-left: 5px solid;
    border-image: linear-gradient(#C8FDFA, #FAD1B9, #FD5935);
    border-image-slice: 1;

}